.fbx-classic {
  --secondary-color: #222;
  --secondary-text-color: #fff;

  --border-width: 8px;
  --border-radius: 6px;
  --border-color: var(--primary-color);
  --negative-border-width: calc(var(--border-width) * -1);

  --button-border-color: var(--border-color);
  --resize-duration: var(--transition-duration);
}