.fbx-classic {
  &.fbx-large-ui,
  &.fbx-no-mobile {
    &.fbx-transition-fade,
    &.fbx-transition-horizontal {
      .fbx-inner {
        transition-property: width, height;
        transition-timing-function: ease-in-out;
        transition-duration: var(--resize-duration);
      }
    }
  }
}