.fbx-modern {
  &.fbx-large-ui,
  &.fbx-no-mobile {
    .fbx-info {
      border-radius: var(--button-border-radius);
    }

    &.fbx-info-top {
      .fbx-info {
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
      }
    }

    &.fbx-info-bottom {
      .fbx-info {
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
      }
    }

    &.fbx-info-left {
      .fbx-info {
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        height: 100%;
        width: var(--info-side-width);
      }
    }

    &.fbx-info-right {
      .fbx-info {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        height: 100%;
        width: var(--info-side-width);
      }
    }

    &.fbx-info-inline {
      .fbx-items {
        display: flex;
        flex-direction: column;
      }
      .fbx-item {
        position: relative;
      }
      .fbx-info {
        position: relative;
      }
    }
  }
}