.fbx-metro {
  &.fbx-large-ui,
  &.fbx-no-mobile {

    .fbx-buttons {
      position: absolute;
      width: 100%;
      height: var(--border-top-width);
      transform: translateY(-100%);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: transparent;
    }

    .fbx-button {
      width: var(--button-size);
      height: var(--button-size);
      max-width: var(--button-size);
      max-height: var(--button-size);
      border: solid 3px transparent;
      border-radius: 50%;
      margin-right: var(--button-spacing);

      &:last-child {
        margin-right: 0;
      }

      &.fbx-btn-close {
        margin-left: auto;
      }

    }

  }

}

@media (hover: hover) {
  .fbx-metro {
    &.fbx-large-ui,
    &.fbx-no-mobile {
      .fbx-button:hover {
        border-color: var(--button-text-color);
      }
    }
  }
}