.fbx-buttons {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  padding: 0;
  pointer-events: none;
  background-color: var(--button-color);
  z-index: 3;
}

@media (orientation: portrait) and (max-width: 600px){
  .fbx-buttons {
    height: var(--button-size-mobile);
    flex-direction: row;
  }
  .fbx-buttons-bottom {
    .fbx-inner {
      flex-direction: column;
    }
    .fbx-buttons {
      flex-direction: row-reverse;
    }
  }
}
@media (orientation: landscape) and (max-height: 600px){
  .fbx-buttons {
    width: var(--button-size-mobile);
    flex-direction: column-reverse;
  }
  .fbx-buttons-left {
    .fbx-inner {
      flex-direction: row-reverse;
    }
  }
}

.fbx-button {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  pointer-events: auto;
  user-select: none;
  -webkit-tap-highlight-color: unset;
  border: none;
  background-color: var(--button-color);
  color: var(--button-text-color);
  box-shadow: none;
  outline: none;
  padding: 0;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &.fbx-disabled {
    pointer-events: none;
    * {
      opacity: 0.6;
    }
  }
}