.fbx-icon {
  display: inline-block;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-font-smoothing: subpixel-antialiased;
}

@keyframes foobox-rotating {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}

.fbx-icon-spinner,
.fbx-icon-spinner2,
.fbx-icon-spinner3,
.fbx-icon-spinner4,
.fbx-icon-spinner5,
.fbx-icon-spinner6 {
  animation: foobox-rotating 2s linear infinite;
}